@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
.header {
  width: 100%;
  height: 70px;
  background-color: #FFE53B;
}
.header ul {
  margin-left: 210px;
}
.header ul li {
  list-style: none;
  display: list-item;
  width: 239px;
  height: 70px;
  text-align: center;
  float: left;
  margin: 0 -41px;
  /* background: url("../img/nav_cur.png") no-repeat;
      background-size: 237px 70px;*/
}
.header ul li .only {
  list-style: none;
  display: list-item;
  width: 239px;
  height: 70px;
  text-align: center;
  float: left;
  margin: 0 -41px;
  background: url("../img/nav_cur.png") no-repeat;
  background-size: 100% 70px;
  color: white;
}
.header ul li a {
  text-decoration: none;
  font-size: 23px;
  font-weight: bold;
  color: black;
  line-height: 70px;
}
.main {
  height: 8700px;
  width: 100%;
  background: url("../img/bodybg_20150916.png") no-repeat;
  background-size: 100% 8700px;
}
.main .content {
  width: 70%;
  height: 8550px;
  background-color: whitesmoke;
  margin-left: 15%;
  position: absolute;
  top: 20%;
}
.main .content .xw_title {
  width: 100%;
  height: 120px;
}
.main .content .xw_title .cn {
  width: 186px;
  height: 47px;
  line-height: 47px;
  font-size: 45px;
  font-weight: bold;
  white-space: nowrap;
  float: left;
}
.main .content .xw_title .en {
  font-size: 34px;
  width: 230px;
  height: 42px;
  float: left;
  color: #3babdd;
  font-family: Arial;
  white-space: nowrap;
  border-bottom: black solid 1px;
}
.main .content .xw_title .cm {
  width: auto;
  height: 42px;
  font-size: 15px;
  position: absolute;
  right: 40px;
  line-height: 62px;
  border-bottom: black solid 1px;
}
.main .content .xw_title .cm a {
  text-decoration: none;
  color: black;
}
.main .content .xw_title .cm a:hover {
  color: #0000FF;
}
.main .content .xw_title .title {
  width: 100%;
  height: 50px;
  position: absolute;
  top: 60px;
  left: 0px;
  border-bottom: 1px dotted #ccc;
}
.main .content .xw_title .title i {
  letter-spacing: 3px;
  font-size: 18px;
  font-style: normal;
  line-height: 50px;
  font-weight: bold;
}
.main .content p {
  font-size: 13px;
  position: relative;
  top: 5px;
  margin-left: 27px;
}
.main .content .news1 {
  width: 92%;
  height: 280px;
  position: absolute;
  margin-left: 15px;
}
.main .content .news1 .img1 {
  position: absolute;
  top: 20px;
  left: 20%;
}
.main .content .news1 .news_a {
  font-size: 13px;
  position: absolute;
  top: 60%;
  margin-left: 27px;
}
.main .content .news2 {
  width: 92%;
  height: 390px;
  margin-top: 300px;
  margin-left: 15px;
}
.main .content .news2 .img2 {
  position: relative;
  top: 10px;
  left: 20%;
}
.main .content .news2 .news_b {
  font-size: 13px;
  position: relative;
  top: 20px;
  margin-left: 27px;
}
.main .content .news3 {
  width: 92%;
  height: 420px;
  margin-left: 15px;
}
.main .content .news3 .img3 {
  position: relative;
  left: 20%;
}
.main .content .news4 {
  width: 92%;
  height: 560px;
  margin-left: 15px;
}
.main .content .news4 .img4 {
  position: relative;
  left: 30%;
}
.main .content .news5 {
  width: 92%;
  height: 390px;
  margin-left: 15px;
}
.main .content .news5 .img5 {
  position: relative;
  left: 20%;
}
.main .content .news6 {
  width: 92%;
  height: 360px;
  margin-left: 15px;
}
.main .content .news6 .img6 {
  position: relative;
  left: 20%;
}
.main .content .news7 {
  width: 92%;
  height: 550px;
  margin-left: 15px;
}
.main .content .news7 .img7 {
  position: relative;
  left: 30%;
}
.main .content .news8 {
  width: 92%;
  height: 550px;
  margin-left: 15px;
}
.main .content .news8 .img8 {
  position: relative;
  left: 30%;
}
.main .content .news9 {
  width: 93%;
  height: 380px;
  margin-left: 15px;
}
.main .content .news9 .img9 {
  position: relative;
  left: 20%;
}
.main .content .news10 {
  width: 92%;
  height: 420px;
  margin-left: 15px;
}
.main .content .news10 .img10 {
  position: relative;
  left: 20%;
}
.main .content .news10 .news_c {
  position: relative;
  top: 10px;
}
.main .content .news11 {
  width: 92%;
  height: 370px;
  margin-left: 15px;
}
.main .content .news11 .img11 {
  position: relative;
  left: 20%;
  top: 5%;
}
.main .content .news12 {
  width: 92%;
  height: 430px;
  margin-left: 15px;
}
.main .content .news12 .img12 {
  position: relative;
  top: 5%;
  left: 20%;
}
.main .content .news13 {
  width: 92%;
  height: 680px;
  margin-left: 15px;
}
.main .content .news13 .img13 {
  position: relative;
  top: 29px;
  left: 25%;
}
.main .content .news13 #zi {
  font-style: normal;
  position: relative;
  top: 45px;
  font-size: 13px;
}
.main .content .news14 {
  width: 92%;
  height: 450px;
  margin-left: 15px;
}
.main .content .news14 .img14 {
  position: relative;
  top: 20px;
  left: 20%;
}
.main .content .news15 {
  width: 92%;
  height: 480px;
  margin-left: 15px;
}
.main .content .news15 .img15 {
  position: relative;
  top: 20px;
  left: 20%;
}
.main .content .news16 {
  width: 92%;
  height: 470px;
  margin-left: 15px;
}
.main .content .news16 .img16 {
  position: relative;
  top: 20px;
  left: 20%;
}
.main .content .news17 {
  width: 92%;
  height: 450px;
  margin-left: 15px;
}
.main .content .news17 .img17 {
  position: relative;
  top: 40px;
  left: 25%;
}
.main .content .news18 {
  width: 92%;
  height: 640px;
  margin-left: 15px;
}
.main .content .news18 .img18 {
  position: relative;
  top: 20px;
  left: 30%;
}
.main .content .bottom {
  width: 90%;
  height: 80px;
  margin-left: 40px;
  font-size: 13px;
  line-height: 35px;
}
.main .content .bottom .one {
  width: 100%;
  height: 35px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
.main .content .bottom .two {
  width: 100%;
  height: 35px;
  border-bottom: 1px solid grey;
}
.main .content .bottom a {
  text-decoration: none;
  color: blue;
}
.footer {
  height: 80px;
  background-color: #2C2C2C;
}
.footer .f_m {
  margin-left: 400px;
  line-height: 80px;
}
.footer .f_m a {
  text-decoration: none;
  font-size: 12px;
  color: white;
}
.footer .f_m i {
  font-size: 12px;
  color: white;
  font-style: normal;
}
